@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.hero{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    grid-column: 1/-1;
    justify-content: center;
}
.contenedor{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
.titulo{
    font-weight: 300;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.parrafo{
    font-size: 15px;
    text-align: justify;
}
.hero .titulo{
    margin-bottom: 10px;
}
.hero-img{
    width: 48%;
    max-width: 600px;
}
.hero-texto{
    width: 45%;
}
.img{
    width: 100%;
    max-width: 600px;
}
.hero .contenedor{
    justify-content: space-between;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    background: #F5C7C8;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.hero .cta{
    margin-top: 15px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.hero .cta i{
    margin-right: 10px;
}
/*Responsive*/
@media screen and (max-width:800px) {
    .titulo{
        font-size: 40px;
    }
    .contenedor{
        height: 620px;
    }
    .hero-texto{
        width: 100%;
    }
    .parrafo{
        font-size: 20px;
    }
    .hero-img{
        width: 100%;
        text-align: center;
    }
    .hero .contenedor{
        justify-content: center;
    }
    .hero-img>img{
        max-width: 450px;
        margin-top: 20px;
    }
}
@media screen and (max-width:355px) {
    .titulo{
        font-size: 32px;
        padding: 10px 0;
    }
    .contenedor{
        height: 680px;
    }
    .parrafo{
        font-size: 20px;
    }
    .hero-img{
        width: 100%;
    }
}